mixin exercise-buzzfeed(template)
  .container-exercise-buzzfeed(
																id!=template.id,
																class!=template.class,
																repeat!=template.repeat,
																cache!=template.cache,
																random!=template.random,
																peso!=template.peso,
																nextLiberate!=template.nextLiberate,
																medias!=template.medias,
																modal!=template.modal
														 )
    block
